.ingredientList {
  display: flex;
  flex-direction: column;
}

.ingredientListItem:after {
  background-color: white;
  content: "";
  display: flex;
  position: relative;
  width: 82%;
  margin: auto;
  border-bottom: 1px solid #7f7fcd77;
  padding: 0;
  margin-top: 0;
}

.ingredientListItemBeingDragged {
  background-color: white;
  content: "";
  display: flex;
  position: relative;
  width: 93%;
  margin-left: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
  position: relative;
  top: 7px;
  display: inline-flex;
  margin-right: 1rem;
}
.ingredientListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.ingredientName {
  padding: 5px;
  margin-top: 2px;
  margin-left: 10px;
  width: max-content;
}

.ingredientAmount {
  padding: 5px;
  margin-top: 2px;
  width: min-content;
  text-align: right;
}
.ingredientUnits {
  padding: 5px;
  margin-top: 2px;
  width: 2rem;
}

.deleteButton {
  position: relative;
  top: -2px;
  color: rgba(255, 0, 0, 0.600);
  left: 10px;
}

.deleteButton:hover {
  color: rgb(255, 0, 0);
}
